body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #000;
  color: #00ff00;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#cmd-window {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#cmd-header {
  background-color: #000;
  padding: 5px;
  border-bottom: 2px solid #000;
  text-align: center;
  color: #00ff00; /* Green text */
}

#cmd-body {
  padding: 5px;
  max-height: calc(100% - 50px); /* Adjust height based on the header and input line */
  overflow-y: auto; /* Enable vertical scrolling */
}

#cmd-input-line {
  background-color: #000;
  display: flex;
  padding: 5px;
}

#cmd-input-line span {
  color: #00ff00;
  margin-right: 5px;
}

#cmd-input {
  background-color: #000;
  color: #00ff00; /* Green text */
  border: none;
  outline: none;
  width: calc(100% - 30px);
}
